* {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4a4a4a;
}

section,
header,
aside,
footer {
  padding: 16px 24px;
}

pre {
  background-color: #e2e2e2;
  border: 1px #bdbdbd solid;
  padding: 16px;
  margin-top: 1.4em;
  font-size: 16px;
}

code {
  font-family: monospace;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.is-hidden {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .is-hidden-touch {
    display: none !important;
  }
}
